body {
  background-color: orange;
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  height: 100vh; /* 전체 화면 높이 */
  margin: 0; /* 브라우저 기본 여백 제거 */
  overflow: hidden;
}

#app {
  /* iPhone SE - 3 */
  position: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center;
  width: 320px;
  height: 568px;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu-content {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.menu-content.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
}
